/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background: #393e46;
    border-color: #393e46;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6px;
}


/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
.footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.padding_all {
    padding: 5%;
}

.fakeimg {
    height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#nttLogo {
    height: 50px;
}

.book {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.button-book {
    width: 90%;
    margin-top: 10%;
}

.card-title {
    font-weight: bold;
}

.author {
    text-align: center;
    margin: 10%;
}

.author-img {
     /* cambia estos dos valores para definir el tamaño de tu círculo */
     height: 100%;
     width: 100%;
     /* los siguientes valores son independientes del tamaño del círculo */
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 50%;
     background-size: 100% auto;
}

.pagination {
    position: relative;
    left: 38%;
}

.card-book {
    margin-right: auto;
    margin-left: auto;
}