hr{
    border-top: 2.5px solid black; /* Careful with px */
}

.panel-body img{
    max-width: 50%;
    height: 23rem !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.event img {
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: table;
}

.row{
    display: table-row;
}

.cell {
    display: table-cell;
    box-sizing: border-box;
    height: inherit;
    
}

.section {
    font-size: 2.5rem;
    padding-bottom: 2%;
}

.first-title {
    font-weight: bold;
    font-size: 1.2 rem;
}

.first-title .second-title {
    font-size: 55%;
}

.panel-body {
    justify-content: center;
}

.panel-footer {
    text-align: center;
    font-weight: bold;
}

.containerCarousel {
    padding-top: -15%; 
}

@media (min-width: 22.5em) {
    .section {
        font-size: 2.5rem;
        padding-bottom: 2%;
    }

    .panel-body:hover {
        -webkit-transform: scale(1.11);
        transform: scale(1.11)
    }

    .first-title:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        padding-left: 7%;
    }
}

@media (max-width: 22.5em) {
    .section {
        font-size: 1.5rem;
        padding-bottom: 2%;
    }
}